@media only screen and (max-width: 900px) {
    .shop-cards {
        width: calc(25vw + 20px);
        height: calc(30vw + 20px);
    }

    .container-shop-cards {
        grid-template-columns: repeat(3, calc(25vw + 20px));
    }

    .img-shop-card {
        margin-top: -70px;
    }
}

@media only screen and (max-width: 700px) {
    .shop-cards {
        width: calc(27vw + 20px);
        height: calc(32vw + 20px);
    }

    .container-shop-cards {
        grid-template-columns: repeat(3, calc(27vw + 20px));
    }

    .img-shop-card {
        margin-top: -60px;
        width: calc(15vw + 20px);
        height: calc(15vw + 20px);
    }
}

@media only screen and (max-width: 600px) {
    .shop-cards {
        width: 400px;
        height: 400px;
    }

    .container-shop-cards {
        grid-template-columns: repeat(1, 400px);
        row-gap: 100px;
        height: auto;
        overflow: visible;
    }

    .img-shop-card {
        margin-top: -100px;
        width: 200px;
        height: 200px;
    }

    .title-shop-card {
        font-size: 30px;
    }

    .desc-shop-card {
        font-size: 20px;
    }

    .price-shop-card {
        font-size: 20px;
    }

    .btn-shop-card {
        font-size: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .shop-cards {
        width: 350px;
        height: 350px;
    }

    .container-shop-cards {
        grid-template-columns: repeat(1, 350px);
    }
}

@media only screen and (max-width: 370px) {
    .shop-cards {
        width: 300px;
        height: 300px;
    }

    .container-shop-cards {
        grid-template-columns: repeat(1, 300px);
    }

    .img-shop-card {
        margin-top: -100px;
        width: 180px;
        height: 180px;
    }

    .title-shop-card {
        font-size: 25px;
    }

    .desc-shop-card {
        font-size: 15px;
    }

    .price-shop-card {
        font-size: 15px;
    }

    .btn-shop-card {
        font-size: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .shop-cards {
        width: 250px;
        height: 250px;
    }

    .container-shop-cards {
        grid-template-columns: repeat(1, 250px);
    }

    .img-shop-card {
        margin-top: -80px;
        width: 150px;
        height: 150px;
    }

    .title-shop-card {
        font-size: 22px;
    }

    .desc-shop-card {
        font-size: 12px;
    }

    .price-shop-card {
        font-size: 12px;
    }

    .btn-shop-card {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1300px) {
    .title-shop {
        font-size: calc(3vw + 10px);
    }
}