.container-shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.title-shop {
    color: white;
    font-size: 40px;
    border-bottom: 2px solid white;
    border-radius: 10px;
    width: fit-content;
}

.container-shop-cards {
    width: 100%;
    height: max-content;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(3, calc(21vw + 20px));
    overflow-y: hidden;
    margin-top: -50px;
    padding-top: 150px;
    padding-bottom: 20px;
    row-gap: 100px;
}

.shop-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(21vw + 20px);
    height: calc(25vw + 20px);
    overflow: visible;
    justify-content: space-evenly;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0.1px 0.1px 10px 2px white inset;
}

.img-shop-card {
    width: calc(12vw + 20px);
    height: calc(12vw + 20px);
    margin-top: -90px;
    object-fit: cover;
}

.title-shop-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 10px);
    font-weight: 500;
}

.desc-shop-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
    text-align: center;
    width: 70%;
}

.price-shop-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
}

.btn-shop-card {
    font-family: neo;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 7px 30px 7px 30px;
    font-size: calc(1vw + 5px);
    color: white;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}

.container-whatches-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    row-gap: 20px;
    margin-bottom: 25px;
    overflow: hidden;
}

.container-classic-watches {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0.1px 0.1px 10px 3px inset white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
}

.title-classic-watches {
    font-family: neo;
    color: white;
    font-size: calc(2vw + 15px);
    font-weight: 500;
}

.img-classic-watch {
    width: calc(20vw + 10px);
    height: calc(20vw + 10px);
    object-fit: cover;
}