.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container-texts-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    opacity: 0;
    padding: 30px;
}

.title-header {
    color: white;
    font-size: calc(2vw + 30px);
    font-family: neo;
}

.btn-header {
    backdrop-filter: blur(200px);
    border: none;
    box-shadow: 0.1px 0.1px 5px 1px white inset;
    color: white;
    background-color: transparent;
    font-size: calc(1vw + 10px);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-family: neo;
    transition: 0.4s;
}

.container-model {
    width: 50%;
    height: 80%;
    overflow: hidden;
}