@media only screen and (max-width: 1020px) {
    .container-model{
        height: 71%;
    }
}

@media only screen and (max-width: 720px) {
    .header{
        flex-direction: column;
        justify-content: center;
    }

    .container-texts-header{
        width: 100%;
        margin-top: 30px;
    }

    .title-header {
        font-size: calc(2vw + 25px);
    }

    .container-model{
        width: 100%;
        height: 360px;
    }
}