@media only screen and (max-width: 900px) {
    .btn-header-buy-now{
        font-size: calc(1vw + 10px);
    }
}

@media only screen and (max-width: 730px) {

    .header {
        flex-direction: column;
    }

    .container-title-and-btn-header {
        width: 90%;
        text-align: center;
    }

    .title-header {
        font-size: calc(1vw + 30px);
    }

    .container-model {
        width: 100%;
        height: 400px;
    }

    .nav-links {
        font-size: calc(1vw + 10px);
    }
}