.nav{
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 3;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 10px;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    box-shadow: 0.1px 0.1px 7px 1px white inset;
}

.logo{
    color: white;
    font-size: 30px;
    font-family: riv;
}

.container-nav-links{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: neo;
    padding: 2px;
}

.active-link{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.container-nav-icons{
    display: flex;
    justify-content: space-between;
    width: 70px;
}

.nav-icons{
    font-size: 27px;
    color: white;
    cursor: pointer;
}