.nav{
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 3;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 10px;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(10px);
}

.logo{
    color: white;
    font-size: 30px;
    font-family: riv;
}

.container-nav-links{
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: neo;
}

.active-link{

}

.container-nav-icons{
    display: flex;
    justify-content: space-between;
    width: 70px;
}

.nav-icons{
    font-size: 27px;
    color: white;
    cursor: pointer;
}