.container-404 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-404 {
    color: white;
    font-size: calc(5vw + 20px);
    font-family: neo;
}

.title-not-found {
    color: white;
    font-size: calc(5vw + 20px);
}

.btn-go-to-home-404 {
    color: white;
    text-decoration: none;
    font-size: calc(1vw + 10px);
    font-family: neo;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    transition: 0.3s;
}

.btn-go-to-home-404:hover{
    background-color: white;
    color: skyblue;
}