.header {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
}

.container-texts-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    opacity: 0;
}

.title-header {
    color: white;
    font-size: calc(2vw + 30px);
    font-family: neo;
}

.btn-header {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(20px);
    font-size: calc(1vw + 10px);
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-family: neo;
}

.container-model{
    width: 50%;
    height: 80%;
    cursor: pointer;
}