.header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-texts-header{

}

.title-header{
    color: white;
}

.btn-header{

}