@media only screen and (max-width: 720px) {
    .header{
        flex-direction: column;
        justify-content: center;

    }

    .container-texts-header{
        width: 100%;
    }

    .title-header {
        font-size: calc(2vw + 25px);
    }

    .container-model{
        width: 100%;
        height: 70%;
        z-index: 10;
    }
}

@media only screen and (max-width: 600px) {
    .title-header {
        font-size: calc(2vw + 20px);
    }
}