@media only screen and (max-width: 710px) {
    .title-header {
        font-size: calc(2vw + 25px);
    }
}

@media only screen and (max-width: 600px) {
    .title-header {
        font-size: calc(2vw + 20px);
    }
}