.container-product-detail {
    width: 100%;
    height: 80vh;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-model-product-detail {
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.container-product-details-texts {
    width: 45%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    opacity: 0;
    border-radius: 10px;
}

.title-product-detail {
    color: white;
    font-family: neo;
    font-size: calc(3vw + 20px);
    font-weight: 500;
    padding: 15px;
    border-radius: 10px;
}

.desc-product-detail {
    color: white;
    font-family: neo;
    font-size: calc(1vw + 20px);
    font-weight: 300;
    padding: 15px;
    border-radius: 10px;
}

.btn-product-detail {
    color: white;
    font-family: neo;
    text-decoration: none;
    font-size: calc(1vw + 10px);
    font-weight: 300;
    box-shadow: 0.1px 0.1px 5px 1px inset white;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-product-detail:hover{
    transform: translateY(-5px);
}