/* start side bar */

.container-admin{
    width: 100%;
    /* z-index: 20; */
    display: flex;
}

.container-left-bar-admin{
    width: 260px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 5px 20px 20px 20px;
    font-family: neo;
    color: white;
    border-right: 1px white solid;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transition: 0.5s;
}

.closed-side-bar{
    transform: translateX(-100%);
}
.opened-side-bar{
    transform: translateX(0%);
}

.close-btn-side-bar{
    margin-bottom: 10px;
    margin-right: -10px;
    cursor: pointer;
    text-align: end;
    font-family: riv;
    font-size: 20px;
    overflow: hidden;
}

.username-in-side-bar{
    font-weight: 300;
    font-size: 23px;
    overflow: hidden;
}

.items-left-bar-admin{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}

.items-left-bar-admin-active{
    background-color: white;
    color: skyblue;
}

.bottom-item{
    margin-top: auto;
}

.title-left-bar-items{
    font-size: 20px;
}

.icons-left-bar-items{
    font-size: 25px;
}

/* start users list */

.title-user-list{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-family: riv;
    font-size: 40px;
}

.user-list-container{
    width: 100%;
    height: max-content;
    font-family: neo;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding-left: 30px; */
    box-shadow: 0.1px 0.1px 10px 3px inset white;
    border-radius: 10px;
    margin: 40px auto;
}

.container-titles-user-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid white;
}

.titles-user-infos{
    font-size: calc(1vw + 17px);
}

.container-users-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid white;
}

.users-info{
    font-size: calc(1vw + 10px);
}

.icon-menu-side-bar{
    color: white;
    font-size: calc(1vw + 20px);
    display: flex;
    align-self: flex-start;
    cursor: pointer;
    margin-top: 35px;
}

.onShow{
    display: none !important;
}

/* start products list */

.container-products-in-shop {
    width: 100%;
    height: max-content;
    margin-top: 40px;
    margin-bottom: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0.1px 0.1px 10px 3px inset white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.title-products-in-shop {
    color: white;
    text-align: center;
    font-size: 40px;
}

.container-products-in-shop-cards {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    justify-content: space-between;
    margin-top: 50px;
    row-gap: 50px;
}

.products-in-shop-card {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 45vw;
    backdrop-filter: blur(20px);
    box-shadow: 0.1px 0.1px 10px 1px inset white;
    border-radius: 10px;
    padding: 20px;
}

.img-products-in-shop-card {
    width: calc(15vw + 10px);
    height: calc(15vw + 10px);
    object-fit: cover;
}

.container-products-in-shop-cards-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.title-product-products-in-shop-card {
    font-size: calc(2vw + 5px);
    font-family: neo;
    color: white;
    font-weight: 500;
}

.desc-product-products-in-shop-card {
    font-size: calc(1vw + 5px);
    font-family: neo;
    color: white;
    font-weight: 300;
}

.price-product-products-in-shop-card {
    font-size: calc(1vw + 5px);
    font-family: neo;
    color: white;
}

.count-product-products-in-shop-card {
    font-size: calc(1vw + 5px);
    font-family: neo;
    color: white;
}

.title-add-product{
    font-size: 40px;
    color: white;
    text-align: center;
}

.container-add-product{
    width: 100%;
    height: max-content;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}

.inputs-add-product{
    width: 70%;
    height: 60px;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    box-shadow: 0.1px 0.1px 10px 1px inset white;
    border: none;
    font-size: 23px;
    color: white;
    background-color: transparent;
}

.inputs-add-product::placeholder{
    color: #dfdfdf;
}

.inputs-add-product::-webkit-outer-spin-button,
.inputs-add-product::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs-add-product[type="number"] {
  -moz-appearance: textfield;
}

.btn-add-product{
    background-color: transparent;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: neo;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0.1px 0.1px 5px 2px inset white;
    font-weight: 300;
}

.custom-upload-file-btn{
    color: white;
    font-family: neo;
    font-size: calc(1vw + 10px);
    border: 2px dashed white;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fileInput{
    display: none;
}

#fileInputImg{
    display: none;
}

.container-upload-section{
    height: 300px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

/* start tickets */

.container-tickets{
    width: 100%;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-tickets{
    color: white;
    font-size: 70px;
    font-family: neo;
}

/* start comments */

.container-comments{
    width: 100%;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-comments{
    color: white;
    font-size: 70px;
    font-family: neo;
}