/* start side bar */

.container-admin{
    width: 100%;
    /* z-index: 20; */
    display: flex;
}

.container-left-bar-admin{
    width: 260px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: neo;
    color: white;
    border-right: 1px white solid;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transition: 0.5s;
}

.closed-side-bar{
    transform: translateX(-100%);
}
.opened-side-bar{
    transform: translateX(0%);
}

.close-btn-side-bar{
    margin-bottom: 10px;
    cursor: pointer;
    text-align: end;
    font-family: riv;
    font-size: 20px;
    overflow: hidden;
}

.username-in-side-bar{
    font-weight: 300;
    font-size: 23px;
    overflow: hidden;
}

.items-left-bar-admin{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}

.items-left-bar-admin-active{
    background-color: white;
    color: skyblue;
}

.bottom{
    margin-top: auto;
}

.title-left-bar-items{
    font-size: 20px;
}

.icons-left-bar-items{
    font-size: 25px;
}

/* start users list */

.title-user-list{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-family: riv;
    font-size: 40px;
}

.user-list-container{
    width: 100%;
    height: max-content;
    font-family: neo;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding-left: 30px; */
    box-shadow: 0.1px 0.1px 5px 3px inset white;
    border-radius: 10px;
    margin: 85px auto;
}

.container-titles-user-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid white;
}

.titles-user-infos{
    font-size: calc(1vw + 17px);
}

.container-users-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid white;
}

.users-info{
    font-size: calc(1vw + 10px);
}

.icon-menu-side-bar{
    color: white;
    font-size: calc(1vw + 20px);
    display: flex;
    align-self: flex-start;
    cursor: pointer;
    margin-top: 35px;
}

.onShow{
    display: none;
}

/* start products list */

.container-products-in-shop {
    width: 100%;
    height: max-content;
    margin-top: 130px;
    backdrop-filter: blur(20px);
    box-shadow: 0.1px 0.1px 10px 1px inset white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.title-products-in-shop {
    color: white;
    text-align: center;
    font-size: 40px;
}

.container-products-in-shop-cards {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    justify-content: space-between;
    margin-top: 50px;
    row-gap: 50px;
}

.products-in-shop-card {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 45vw;
    backdrop-filter: blur(20px);
    box-shadow: 0.1px 0.1px 10px 1px inset white;
    border-radius: 10px;
    padding: 20px;
}

.img-products-in-shop-card {
    width: calc(15vw + 10px);
    height: calc(15vw + 10px);
    object-fit: cover;
}

.container-products-in-shop-cards-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.title-product-products-in-shop-card {
    font-size: calc(2vw + 5px);
    font-family: neo;
    color: white;
    font-weight: 500;
}

.desc-product-products-in-shop-card {
    font-size: calc(1vw + 5px);
    font-family: neo;
    color: white;
    font-weight: 300;
}

.price-product-products-in-shop-card {
    font-size: calc(1vw + 5px);
    font-family: neo;
    color: white;
}

.count-product-products-in-shop-card {
    font-size: calc(1vw + 5px);
    font-family: neo;
    color: white;
}