@media only screen and (min-width: 1290px) {
    .container-left-bar-admin{
        width: 20%;
    }

    .username-in-side-bar{
        font-size: calc(1vw + 10px);
    }

    .title-left-bar-items{
        font-size: calc(1vw + 6px);
    }
    
    .icons-left-bar-items{
        font-size: calc(1vw + 15px);
    }

    .close-btn-side-bar{
        font-size: calc(1vw + 5px);
    }

    .title-user-list{
        font-size: calc(1vw + 30px);
    }
    
    .title-products-in-shop{
        font-size: calc(1vw + 30px);
    }
    
    .custom-upload-file-btn{
        font-size: calc(1vw + 10px);
    }
    
    .inputs-add-product{
        font-size: calc(1vw + 10px);
    }
    
    .btn-add-product{
        font-size: calc(1vw + 10px);
    }
}

@media only screen and (min-width: 1500px){
    .inputs-add-product{
        height: 70px;
    }
}

@media only screen and (min-width: 1800px){
    .inputs-add-product{
        height: 80px;
    }
}

@media only screen and (min-width: 2300px){
    .inputs-add-product{
        height: 100px;
    }
}

@media only screen and (max-width: 900px) {

    .container-products-in-shop-cards {
        grid-template-columns: repeat(2, 44vw);
    }

    .products-in-shop-card {
        width: 44vw;
    }
}

@media only screen and (max-width: 700px) {
    
    .container-products-in-shop-cards {
        grid-template-columns: repeat(1, 80vw);
        justify-content: center;
    }

    .products-in-shop-card {
        width: 80vw;
    }

    .img-products-in-shop-card {
        width: calc(20vw + 25px);
        height: calc(20vw + 25px);
    }
    
    .title-product-products-in-shop-card {
        font-size: calc(3vw + 5px);
    }
    
    .desc-product-products-in-shop-card {
        font-size: calc(2vw + 5px);
    }
    
    .price-product-products-in-shop-card {
        font-size: calc(2vw + 5px);
    }

    .count-product-products-in-shop-card {
        font-size: calc(2vw + 5px);
    }
}

@media only screen and (max-width: 600px) {
    .icon-menu-side-bar{
        margin-top: 100px;
    }

    .container-products-in-shop-cards-texts{
        justify-content: space-between;
        row-gap: 10px;
    }

    .inputs-add-product{
        width: 100%;
    }
}