@media only screen and (min-width: 1290px) {
    .container-left-bar-admin{
        width: 20%;
    }

    .username-in-side-bar{
        font-size: calc(1vw + 10px);
    }

    .title-left-bar-items{
        font-size: calc(1vw + 6px);
    }
    
    .icons-left-bar-items{
        font-size: calc(1vw + 15px);
    }

    .close-btn-side-bar{
        font-size: calc(1vw + 5px);
    }

    .title-user-list{
        font-size: calc(1vw + 30px);
    }
}

@media only screen and (max-width: 600px) {
    .icon-menu-side-bar{
        margin-top: 100px;
    }

    .user-list-container{
        margin: 20px auto;
    }
}