* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow-x: hidden;
}

.container{
  width: 95vw;
  display: flex;
  justify-self: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

body{
  background-color: black;
}