* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow-x: hidden;
}

.container{
  width: 95vw;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

body{
  background-color: black;
}

.hyperSpeed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
