body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: neo;
  overflow-x: hidden;
  user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 97vw;
  height: 97vh;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}

.container-nav-links {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: rgb(148, 148, 148);
  font-size: calc(1vw + 5px);
  transition: 0.3s;
  padding: 5px;
  font-weight: 300;
}

.nav-links:hover {
  background-color: orangered;
  color: white;
  border-radius: 5px;
}

.active-link {
  background-color: orangered;
  color: white;
  border-radius: 5px;
}

/* start header */

.header {
  background-color: orangered;
  width: 100%;
  height: 100vh;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-title-and-btn-header {
  width: 47%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0
}

.title-header {
  color: white;
  font-size: calc(1vw + 35px);
  font-weight: 500;
}

.btn-header-buy-now {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  font-family: neo;
  font-size: calc(1vw + 5px);
  transition: 0.3s;
}

.btn-header-buy-now:hover {
  background-color: white;
  color: orangered;
}

.container-model {
  width: 50%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-360 {
  color: white;
  font-size: calc(1vw + 20px);
  position: absolute;
  margin-top: -20px;
}