.container-counter{
    width: 100%;
    height: 300px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    padding: 20px;
    z-index: -1;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.title-counter{
    color: white;
    font-family: neo;
    font-size: calc(2vw + 7px);
    font-weight: 500;
}

.number-counter{
    color: gray;
    font-family: neo;
    font-size: calc(2vw + 7px);
    font-weight: 500;
}

.container-text-and-number-counter{
    display: flex;
    gap: 10px;
}