.container-counter{
    width: 100%;
    height: 300px;
    backdrop-filter: blur(100px);
    box-shadow: 0.1px 0.1px 5px 1px white inset;
    border-radius: 10px;
    padding: 20px;
    z-index: -1;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.title-counter{
    color: white;
    font-family: neo;
    font-size: 28px;
    font-weight: 300;
}

.number-counter{
    color: rgb(185, 110, 255);
    font-family: neo;
    font-size: 28px;
    font-weight: 500;
}

.container-text-and-number-counter{
    display: flex;
    gap: 10px;
}