@media only screen and (min-width: 1240px) {
    
.title-counter{
    font-size: calc(2vw + 10px);
}
    .number-counter{
        font-size: calc(2vw + 10px);
    }

}

@media only screen and (max-width: 720px) {
    .container-counter{
        align-items: center;
    }
}

