.container-form{
    /* border: 2px solid white; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0.1px 0.1px 10px 5px inset #4b4bff;
}

.login-from{
    height: 450px;
}

.container-title-and-back-icon-form{
    display: flex;
    align-items: center;
    width: 100%;
}

.icon-back-form{
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    display: flex;
    left: 20px;
    align-self: center;
}

.title-form{
    color: white;
    font-family: neo;
    font-size: 40px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.inputs-form{
    /* border: 1px solid white; */
    border: none;
    box-shadow: 0.1px 0.1px 10px 1px inset #4b4bff;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    font-family: neo;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

.inputs-form::placeholder{
    color: rgb(158, 158, 158);
}

.btn-form{
    background-color: transparent;
    /* border: 1px solid white; */
    border: none;
    border-radius: 7px;
    color: white;
    font-family: neo;
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0.1px 0.1px 8px 1px inset #4b4bff;
    font-weight: 300;
}

.btn-form:hover{
    background-color: white;
    color: black;
}

.text-under-form{
    color: white;
    font-family: neo;
    font-size: 17px;
    font-weight: 300;
}

.link-under-form{
    color: #4b4bff;
    font-family: neo;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.container-silk{
    height: 100vh;
    width: 100vw;
}