.title-best-seller {
    color: white;
    font-size: 40px;
    border-bottom: 3px solid white;
    width: max-content;
    margin-top: 40px;
    border-radius: 10px;
}

.container-best-seller-cards {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(3, calc(21vw + 20px));
}

.best-seller-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(21vw + 20px);
    height: calc(25vw + 20px);
    overflow: visible;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(20px);
    opacity: 0;
    transform: translateY(50px);
}

.img-best-seller-card {
    width: calc(12vw + 20px);
    height: calc(12vw + 20px);
    margin-top: -90px;
    object-fit: cover;
}

.title-best-seller-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 10px);
    font-weight: 500;
}

.desc-best-seller-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
    text-align: center;
    width: 70%;
}

.price-best-seller-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
}

.btn-best-seller-card {
    font-family: neo;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 30px 7px 30px;
    font-size: calc(1vw + 5px);
    color: white;
    cursor: pointer;
}

.container-big-card-best-seller-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    overflow: visible;
    border: 1px solid rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.container-big-card-best-seller-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    overflow: visible;
    border: 1px solid rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px 0 20px 0;
    margin-top: 100px;
}

.container-img-big-card-1 {
    width: 25%;
    height: 250px;
    overflow-y: hidden;
    margin-top: -70px;
}

.img-big-card1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img-big-card-2 {
    width: 37%;
    height: 250px;
    overflow-y: hidden;
    margin-top: -70px;
}

.img-big-card2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-texts-big-card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 20px;
    width: 70%;
}

.title-big-card-1 {
    font-family: neo;
    color: white;
    font-weight: 500;
    font-size: calc(2vw + 5px);
}

.desc-big-card-1 {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
}

.price-big-card-1 {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
}

.btn-big-card-1 {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(20px);
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 300;
}