.title-best-seller {
    color: white;
    font-size: 40px;
    border-bottom: 3px solid white;
    width: max-content;
    margin-top: 40px;
    border-radius: 10px;
}

.container-best-seller-cards {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(3, calc(21vw + 20px));
}

.best-seller-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(21vw + 20px);
    height: calc(25vw + 20px);
    overflow: visible;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(20px);
}

.img-best-seller-card {
    width: calc(12vw + 20px);
    height: calc(12vw + 20px);
    margin-top: -90px;
    object-fit: cover;
}

.title-best-seller-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 10px);
    font-weight: 500;
}

.desc-best-seller-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
    text-align: center;
    width: 70%;
}

.price-best-seller-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
}

.btn-best-seller-card {
    font-family: neo;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 30px 7px 30px;
    font-size: calc(1vw + 5px);
    color: white;
    cursor: pointer;
}