.title-best-seller {
    color: white;
    font-size: calc(3vw + 10px);
    border-bottom: 3px solid white;
    width: max-content;
    position: relative;
    top: 56px;
    border-radius: 10px;
}

.container-best-seller-cards {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(3, 300px);
}

.best-seller-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: visible;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(10px);
}

.img-best-seller-card {
    width: 180px;
    height: 180px;
    margin-top: -90px;
}

.title-best-seller-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 10px);
    font-weight: 500;
}

.desc-best-seller-card {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 5px);
    font-weight: 300;
    text-align: center;
    width: 70%;
}

.price-best-seller-card {
    font-family: neo;
    color: rgb(180, 180, 180);
    font-size: calc(1vw + 5px);
    font-weight: 300;
}

.btn-best-seller-card {
    font-family: neo;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px 30px 7px 30px;
    font-size: calc(1vw + 5px);
    color: white;
    cursor: pointer;
}