body{
    background-color: skyblue;
}

.container-cart {
    width: 100%;
    height: max-content;
    margin-top: 130px;
    backdrop-filter: blur(20px);
    box-shadow: 0.1px 0.1px 10px 1px inset white;
    border-radius: 10px;
    padding: 20px;
}

.title-cart {
    color: white;
    text-align: center;
    font-size: 40px;
}

.container-cart-cards {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    justify-content: space-between;
    margin-top: 50px;
    row-gap: 50px;
}

.cart-card {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 45vw;
    backdrop-filter: blur(20px);
    box-shadow: 0.1px 0.1px 10px 1px inset white;
    border-radius: 10px;
    padding: 20px;
}

.img-cart-card {
    width: calc(15vw + 10px);
    height: calc(15vw + 10px);
    object-fit: cover;
}

.container-cart-cards-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.title-product-cart-card {
    font-size: calc(2vw + 5px);
    font-family: neo;
    color: white;
    font-weight: 500;
}

.desc-product-cart-card {
    font-size: calc(1vw + 5px);
    font-family: neo;
    color: white;
    font-weight: 300;
}

.price-product-cart-card {
    font-size: calc(1vw + 5px);
    font-family: neo;
    color: white;
}

.container-add-and-remove-product-count {
    font-family: neo;
    color: white;
    font-size: calc(1vw + 10px);
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    width: 30%;
    padding: 3px;
    font-weight: 300;
}