@media only screen and (max-width: 900px) {

    .container-cart-cards {
        grid-template-columns: repeat(2, 44vw);
    }

    .cart-card {
        width: 44vw;
    }
}

@media only screen and (max-width: 700px) {
    
    .container-cart-cards {
        grid-template-columns: repeat(1, 80vw);
        justify-content: center;
    }

    .cart-card {
        width: 80vw;
    }

    .img-cart-card {
        width: calc(20vw + 25px);
        height: calc(20vw + 25px);
    }
    
    .title-product-cart-card {
        font-size: calc(3vw + 5px);
    }
    
    .desc-product-cart-card {
        font-size: calc(2vw + 5px);
    }
    
    .price-product-cart-card {
        font-size: calc(2vw + 5px);
    }
    
    .container-add-and-remove-product-count {
        font-size: calc(2vw + 10px);
    }
}

@media only screen and (max-width: 600px) {
    .container-cart-cards-texts{
        justify-content: space-between;
        row-gap: 10px;
    }
}